@import "../../styles/color_scheme.scss";

.Introduce {
  margin-top: 5%;
  margin-left: 5%;
  &__img {
    & img {
      width: 15%;
    }
  }
  &__content {
    &-title {
      margin-top: 10px;
      font-weight: 700;
      font-size: 1.2rem;
    }
    &-des {
      margin-top: 10px;
    }
    &-profile {
    }
  }
}
